html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0px;
    height: 180px !important;
    padding: 0px;
    width: 350px !important; 
    background-color: whitesmoke;
}

.modal-header {
    justify-content: space-between;
}

.modal-inputs {
    justify-content: center;
}

.logo {
    font-size: 20px;
}

.menu-entry {
    padding: 2px 10px;
    display: block;
    width: 100%;
    border-style: outset;
    border: none;
    background-color: transparent;
}

.menu-entry:hover {
    border-style: outset;
    border: none;
    background-color: rgb(128, 128, 128);
}

#add-btn:hover{
    background-color: rgb(141, 247, 114);
}

#clear-btn:hover{
    background-color: rgb(252, 83, 41);
}

.del-btn:hover{
    background-color: rgb(252, 83, 41);
}

.modal-inputs {
    align-items: center;
}
i {
    padding: 5px 5px;
}

#close-tab {
    width: 150px;
    text-align: center;
}

form {
   align-items: center;
   text-align: center;
}


form #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
}

form #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
}

form #input-wrap {
    margin: 0px;
    padding: 0px;
}

input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-bottom: 3px;
    width: 40px;
    height: 34px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#number {
    text-align: center;
}

.websites-table {
    padding-top: 5px;
    height: 100px !important;
    overflow: scroll;
}

.websites-table::-webkit-scrollbar {
    display: none;
  }

#timer {
    text-align: center;
}
